.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.icon-search {
    content: url("assets/icons/search.svg");
}

.icon-filter {
    content: url("assets/icons/filter.svg");
}

.icon-heart {
    content: url("assets/icons/heart.svg");
}

.icon-notification {
    content: url("assets/icons/notification.svg");
}

.icon-settings {
    content: url("assets/icons/settings.svg");
}


.btn-icon-group-input {
    padding-left: 72px;
}